/* import files */
@import url("./reset.css");
@import url("./utils.css");
/* @import "node_modules/@glidejs/glide/src/assets/sass/glide.core" */

/* styles */
body {
  font: 18px var(--font-stack);
  color: var(--color-txt);
  background-color: var(--color-bg);
}

header {
  height: var(--header-height);
  background-color: #fff;
}

main {
  background-color: #eee;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

footer {
  height: var(--footer-height);
  background-color: #ddd;
}

/* swup */
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
