/* variables */

:root {
	--font-stack: monospace;
	
	--color-txt: #000;
	--color-bg: #fff;
	
	--header-height: 50px;
	--footer-height: 50px;
	
	--margin-main: 25px;
	--padding-main: 25px;
}




/* utilities */

.margin-main {
	margin: var(--margin-main);
}

.padding-main {
	padding: var(--padding-main);
}

.flex {
	display: flex;
}

.flex-center-x {
	display: flex;
	justify-content: center;
}

.flex-center-y {
	display: flex;
	align-items: center;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}